.return-policy h2{
    padding-left: 20px;
    padding-right: 180px;
}

.return-policy h3{
    padding-left: 20px;
    padding-right: 180px;
}

.return-policy p{
    padding-left: 20px;
    padding-right: 180px;
}

.return-policy h2 {
    margin-top: 40px;
}

@media (max-width: 600px) {
    .return-policy h2{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .return-policy h3{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .return-policy p{
        padding-left: 20px;
        padding-right: 20px;
    }

}

