
/* Navbar */

nav {
    background-color: #363062;
}

.nav-right .nav-search input {
    color: white ;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.nav-right .nav-search div {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

nav input::placeholder {
    color: white ;
}

/* Sign Up */
.signup {
    width: 100%;
    height: 100vh;
    background: url(../Images/login\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sign Up Form */

.signup-form {
    width: 500px;
    height: 530px;
    /* border: 2px solid #000; */
    background-color: transparent;
    backdrop-filter: blur(14px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    padding: 20px;
}

.signup-form>h3 {
    text-align: center;
}

/* Show Alert */
#show-alert {
    width: 100%;
    display: inline;
    width: 100%;
    height: 50px;
    color: red;
    font-size: 15px;
    font-family: 'Allerta', sans-serif;
    position: relative;
    left: 140px;
}

/* Labels And Input Designs */

.firstName,
.lastName,
.email,
.dateOfBirth,
.mobileNumber,
.password,
.confirmPassword {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.email label {
    position: relative;
    right: 5px;
}

.dateOfBirth label {
    position: relative;
    left: 5px;
}

.mobileNumber label {
    position: relative;
    left: 10px;
}

.password label {
    position: relative;
    left: 18px;
}

.confirmPassword label {
    position: relative;
    left: 30px;
}

.email input {
    position: relative;
    left: 5px;
}

.dateOfBirth input {
    position: relative;
    right: 5px;
}

.mobileNumber input {
    position: relative;
    right: 13px;
}

.password input {
    position: relative;
    left: 52px;
}

.confirmPassword input {
    position: relative;
    left: 17px;
}

.firstName input,
.lastName input,
.email input,
.dateOfBirth input,
.mobileNumber input,
.password input,
.confirmPassword input {
    width: 200px;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    border: none ;
    border-bottom: 2px solid #000;
    color: #5a5a5a;
    font-size: 14px;
}

/* Show Password Icon */
.password i {
    position: relative;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
}

/* Show Confirm Password Icon */
.confirmPassword i {
    position: relative;
    bottom: 15px;
    right: 30px;
    cursor: pointer;
}

/* Sign Up Button */
.signup-form #signup-btn{
    width: 200px;
    height: 25px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #FB4906;
    color: #fff;
    border: none;
    position: relative;
    left: 130px;
}

.signup-form #signup-btn:hover {
    background-color: #cd592e;
}

/* Already a member */
.member{
    margin-top: 10px;
    text-align: center;
    color: black;
}

.member>h3 {
    font-weight: 100;
    font-size: 13px;
    margin-top: 20px;
}

.member>a {
    color: rgb(4, 63, 102);
    color: #363062;
}


/* Responsive Over 600px */
@media (max-width: 600px) {

    .signup {
        background: url(../Images/mobile\ background.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

}

/* Responsive Over 500px */
@media (max-width: 500px) {

    .signup-form {
        width: 480px;
        padding: 0px;
        padding-top: 10px;
    }

    .password label {
        position: relative;
        right: 140px;
    }

    .password input {
        position: relative;
        left: 57px;
    }

    .confirmPassword input {
        position: relative;
        left: 20px;
    }

    .confirmPassword label {
        text-wrap: wrap;
    }

    /* Show Password Icon */
    .password i {
        position: relative;
        bottom: 15px;
        right: 20px;
        cursor: pointer;
    }

    /* Show Confirm Password Icon */
    .confirmPassword i {
        position: relative;
        bottom: 15px;
        right: 30px;
        cursor: pointer;
    }

}

/* Responsive Over 400px */
@media (max-width: 400px) {

    .signup {
        height: 603px;
    }
    
    .signup-form {
        width: 300px;
    }

    .signup-form h3 {
        font-size: 1rem;
    }

    #show-alert {
        position: relative;
        left: 20px;
        font-size: 12px;
    }

    label {
        font-size: 0.8rem;
    }

    .password label {
        position: relative;
        left: 13px;
    }

    .confirmPassword label {
        position: relative;
        left: 22px;
    }

    .password input {
        position: relative;
        left: 35px;
    }

    .confirmPassword input {
        position: relative;
        left: 10px;
    }

    .mobileNumber input {
        position: relative;
        right: 10px;
    }

    .firstName input,
    .lastName input,
    .email input,
    .dateOfBirth input,
    .mobileNumber input,
    .password input,
    .confirmPassword input {
        width: 130px;;
    }

    .signup-form #signup-btn {
        position: relative;
        left: 50px;
        right: 0px;
    }

    /* Already a member */
    .member{
        margin-top: 10px;
        text-align: center;
        color: black;
    }

    .member>h3 {
        font-weight: 100;
        font-size: 11px;
        margin-top: 20px;
    }

    .member>a {
        color: rgb(4, 63, 102);
        color: #363062;
    }


}